.tri-container {
    display: flex;               
    justify-content: flex-end;   
    align-items: center;         
    margin-bottom: 0;             
    padding-right : 220px; 
    position: relative;        
    top: 180px;
}


.tri-container label {
    margin-right: 10px;          
    font-size: 1.1rem;           
    font-weight: bold;           
    color: #fc94df;              
    text-transform: initial;  
    letter-spacing: 1px;         
}


.tri-container select {
    padding: 8px 12px;          
    border: 2px solid #fc94df;   
    border-radius: 8px;         
    background-color: white;     
    color: #3d3c3c;               
    font-size: 1rem;             
    cursor: pointer;             
    transition: 0.3s ease;      
}


.tri-container select:hover {
    border-color: #ff69b4;      
}


.tri-container select:focus {
    outline: none;               
    box-shadow: 0 0 8px #ff69b4; 
}
.popup {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.popup-content {
    background: #fff0f5; 
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.3); 
    text-align: center;
    animation: fadeInUp 0.3s ease-in-out;
    position: relative;
    font-family: 'Courier New', sans-serif;
}


.popup-content p {
    font-size: 20px;
    font-weight: bold;
    color: #ff69b4; 
    margin-bottom: 15px;
}


.popup button {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
    width: 130px;
}


#btnOui {
    background: #ff1493;
    color: white;
    box-shadow: 0px 4px 10px rgba(255, 20, 147, 0.3);
}

#btnOui:hover {
    background: #ff69b4;
    box-shadow: 0px 6px 15px rgba(255, 20, 147, 0.5);
}


#btnNon {
    background: #dda0dd;
    color: white;
    box-shadow: 0px 4px 10px rgba(221, 160, 221, 0.3);
}

#btnNon:hover {
    background: #ba55d3;
    box-shadow: 0px 6px 15px rgba(221, 160, 221, 0.5);
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.popup.show {
    opacity: 1;
    transform: scale(1);
} 


#popup {
    position: absolute; 
    padding: 10px; 
    border-radius: 10px;
    box-shadow: none; 
    display: none;
    width: auto;
    max-width: 80%;
    text-align: center;
    background: none; 
    border: none; 
}

